@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


* {
    font-family: "Inter";
}

option:hover {
    background-color: gray;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    /* padding-inline: 25px; */
}

.imageContainer{
    width: 400px;
    height: 400px;
}

.imageContainer img {
    object-fit: cover;
}