<h4>Add Todo's</h4>
<form class="mb-4 border rounded-2 shadow p-4" (ngSubmit)="OnSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Todo Title</label>
        <input type="text" name="title" [(ngModel)]="inputTitle" class="form-control" id="title"
            aria-describedby="titleHelp">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Todo Description</label>
        <input type="text" name="desc" [(ngModel)]="inputDesc" class="form-control" id="desc">
    </div>
    <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
    <button type="submit" class="btn btn-primary">Add Todo</button>
</form>