<footer class="footer-wrapper">
    <div class="footer-content">
        <div class="footer-name-wrapper">
            <div class="footer-name-content">
                {{FooterData.Name}}
            </div>
        </div>

        <div class="footer-batch-wrapper">
            <div class="footer-batch-content">
                {{FooterData.Batch}}
            </div>
        </div>

        <div class="footer-year-wrapper">
            <div class="footer-year-content">
                {{FooterData.Year}}
            </div>
        </div>
    </div>
</footer>