<nav class="navbar-wrapper">
    <div class="navbar-content">
        <div class="nav-logo-wrapper">
            <div class="nav-logo-content">
                <h2>{{HeaderData.Logo}}</h2>
            </div>
        </div>

        <div class="nav-menu-wrapper">
            <div class="nav-menu-content">
                <h2>{{HeaderData.Name}}</h2>
            </div>
        </div>

        <div class="nav-title-wrapper">
            <div class="nav-title-content">
                <h2>{{HeaderData.Title}}</h2>
            </div>
        </div>
    </div>
</nav>